<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.victoriest.photio.dao.mapper.UserExMapper">

  <!--
 这里引用mybatis生成的mapper.xml中的Base_Column_List和BaseResultMap，
 只要写全名即可，
 就是：com.xxx.xx.XxxMapper.Base_Column_List和com.xxx.xx.XxxMapper.BaseResultMap
 -->

  <select id="selectByAccount"
          resultMap="me.victoriest.photio.dao.mapper.source.UserMapper.BaseResultMap">
    select
    <include refid="me.victoriest.photio.dao.mapper.source.UserMapper.Base_Column_List" />
    from user
    where account = #{account,jdbcType=VARCHAR}
  </select>

</mapper>